{% load static %}
{% load app_tags %} 

  <div
    
    class="col"
  >
  {% for hotelCard in page_obj %} 

    <div class="hotel-list">
      <!-- individual hotel cards: -->
      <div class="grid">
        <div>
          <img style= "height: 200px; width: 260px; object-fit: cover;" id="hotelimg-{{ hotelCard.id }}" src="https://images.unsplash.com/photo-1496417263034-38ec4f0b665a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="Image not found."/>
        <!-- ../static/images/hotel-list-img.png -->
        </div>
        <div class="hotel-right">
          <h2 id="hotelname-{{ hotelCard.id }}">{{hotelCard.id}}</h2>
          <p class="hotelIdJQ" style="visibility: hidden;">{{hotelCard.id}}</p>
          <p id="hotelLocation-{{ hotelCard.id }}"><b>Hotel Location</b></p>

          <div class="stars-outer">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>

          <div
            style="
              position: absolute;
              top: 0;
              right: 5px;
              margin-top: 50px;
              margin-right: 10px;
              float: right;
            "
          >
            <p>
              Cheapest Room: <br />
              <span class="price">${{hotelCard.lowest_price}} </span>
            </p>
            <a
              href="{% url 'room-list-test-api' destId hotelCard.id|render_name_api3 hotelCard.id checkin checkout guests %}"
              class="btn"
              style="background-color: #f58216; float: right"
              ><b>SEE DETAILS ></b></a
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

        // This will run once document loads
        $( document ).ready(function() {
              console.log( "~ Document ready!" );
              

              // first, set up api url here:s
              
              var hotelIdArray = $(".hotelIdJQ").map(function(){
                return $(this).text()
              }).get();
              console.log("HOTEL IDs EHRE:", hotelIdArray)
              hotelIdArray.forEach(function (hotelId) {

                console.log("individual hotelid in for loop",hotelId)
                var api3StrBase = 'https://hotelapi.loyalty.dev/api/hotels/'
                var api3Str = api3StrBase.concat(hotelId);
                console.log('~api str:',api3Str);

                //then, calling sendHTTPRequest function to get api response
                console.log("~this is from getData function");
                const xhr = new XMLHttpRequest();
                xhr.open('GET', api3Str, true);
                xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
                // xhr.setRequestHeader('Content-type', 'application/json')
                // xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest'); 
                xhr.responseType = 'json';
                xhr.onload = () => {
                  const data = xhr.response;
                  console.log("~ data below!");
                  console.log(data);
                  
                  // get hotel name:
                  var newHotelNameFromApi = data["name"]
                  console.log("~newHotelNameFromApi:", newHotelNameFromApi);
                  
                  // get hotel img url
                  var prefix = data["image_details"]["prefix"]
                  var suffix = data["image_details"]["suffix"]
                  var newHotelImgFromApi = prefix.concat("0", suffix)
                  console.log("~ newHotelImgFromApi:", newHotelImgFromApi);

                  // get hotel location
                  var addressFromApi = data["address"]


                  var origHotelName = $("#hotelname-"+hotelId);
                  console.log("~original hotel name:",origHotelName);
                  
                  var newHotelName = $("<h2>").html(newHotelNameFromApi);
                  origHotelName.replaceWith(newHotelName);

                  var origHotelAddress = $("#hotelLocation-"+hotelId);
                  var newHotelAddress = $("<p>").html(addressFromApi);
                  origHotelAddress.replaceWith(newHotelAddress);
                  
                  console.log("~new hotel name:",origHotelName);

                  // Replace hotelImage
                  var url = "https://d2ey9sqrvkqdfs.cloudfront.net/diH7/0.jpg";
                  $( "#hotelimg-"+hotelId ).attr({
                    "src": newHotelImgFromApi,
                    "alt": url
                  });

                };
                xhr.send();
        
              });


          });


      </script>

<!-- 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

        // This will run once document loads
        $( document ).ready(function() {
              console.log( "~ Document ready!" );
              

              // first, set up api url here:s
              
              var hotelId = $(".hotelIdJQ").map(function(){
                return $(this).text()
              }).get();
              console.log("HOTEL ID EHRE:", hotelId)
              hotelId.forEach(function (item) {
                
              });

              var api3StrBase = 'https://hotelapi.loyalty.dev/api/hotels/'
              var api3Str = api3StrBase.concat(hotelId);
              console.log('~api str:',api3Str);

              //then, calling sendHTTPRequest function to get api response
              console.log("~this is from getData function");
              const xhr = new XMLHttpRequest();
              xhr.open('GET', api3Str, true);
              xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
              // xhr.setRequestHeader('Content-type', 'application/json')
              // xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest'); 
              xhr.responseType = 'json';
              xhr.onload = () => {
                const data = xhr.response;
                console.log("~ data below!");
                console.log(data);
                
                var newHotelNameFromApi = data["name"]
                console.log("~newHotelNameFromApi:", newHotelNameFromApi);
                
                var prefix = data["image_details"]["prefix"]
                var suffix = data["image_details"]["suffix"]
                var newHotelImgFromApi = prefix.concat("0", suffix)
                console.log("~ newHotelImgFromApi:", newHotelImgFromApi);


                

                var origHotelName = $("#hotelname-"+hotelId);
                console.log("~original hotel name:",origHotelName);
                
                var newHotelName = $("<h2>").html(newHotelNameFromApi);
                origHotelName.replaceWith(newHotelName);
                
                console.log("~new hotel name:",origHotelName);

                // Replace hotelImage
                // var url = "https://d2ey9sqrvkqdfs.cloudfront.net/diH7/0.jpg"
                $("#hotelimg-"+hotelId).attr("src", newHotelImgFromApi );

              };
              xhr.send();
          });


      </script> -->